*
!*/
!/.gitignore
!/LICENSE
!/package.json
!/bin/*.bash
!/daemon/.gcloudignore
!/daemon/package.json
!/daemon/package-lock.json
!/daemon/tsconfig.json
!/daemon/.eslintrc.json
!/daemon/src/*.ts
!/daemon/test/*.ts
!/cli/package.json
!/cli/package-lock.json
!/cli/tsconfig.json
!/cli/.eslintrc.json
!/cli/src/*.ts
!/cli/test/*.ts
!/e2etest/package.json
!/e2etest/package-lock.json
!/e2etest/tsconfig.json
!/e2etest/.eslintrc.json
!/e2etest/test/*.ts
!/e2etest/k8sobject/*.yaml