*
!*/
!/.gitignore
!/LICENSE
!/package.json
!/bin/*.bash
!/deploy/package.json
!/deploy/package-lock.json
!/deploy/tsconfig.json
!/deploy/.eslintrc.json
!/deploy/src/*.ts
!/deploy/test/*.ts
!/manage/package.json
!/manage/package-lock.json
!/manage/tsconfig.json
!/manage/.eslintrc.json
!/manage/src/*.ts
!/manage/test/*.ts
!/cli/package.json
!/cli/package-lock.json
!/cli/tsconfig.json
!/cli/.eslintrc.json
!/cli/src/*.ts
